.parent {
  perspective: 500px;
  background-color: black;
}

.sponsorbganimated {
  background: url(http://ak1.picdn.net/shutterstock/videos/7347001/thumb/1.jpg) repeat 0 0;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  animation: slide 5s linear infinite;
  transform: rotateX(50deg);
}

@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -480px;
  }
}